<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pesronal Web</title>

    <!-- Link To Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- Link To CSS -->
    <link rel="stylesheet" href="public/CSS/style.css" />

    <!-- Box Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid ms-4 me-4">
        <a class="navbar-brand" href="#"
          ><i class="bx bxs-leaf" style="color: #83b735; font-size: 24px"></i
        ></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link text-navbar active"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-navbar" href="projects">My Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-navbar" href="testimonials"
                >Testimonials</a
              >
            </li>
          </ul>
          <a
            href="contact"
            class="text-decoration-none text-white border border-white rounded p-2 contact-nav"
            >Contact Me</a
          >
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Home Start -->
    <div
      style="
        margin: 80px;

        background-color: #f2f2f2;
        padding: 0 80px;
      "
    >
      <div class="home d-flex align-items-center" style="height: 600px">
        <!-- Home Left -->
        <div class="home-left" style="margin-right: 50px">
          <h2 class="mb-4">
            <span style="color: #83b735">Hello,</span> Welcome To My Personal
            Web
          </h2>
          <p class="text-justify" style="text-align: justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            ipsam, ipsum repellat pariatur natus accusamus aliquid magni placeat
            sapiente minus laboriosam reprehenderit autem voluptatem. Ipsum
            nemo, enim placeat odit saepe assumenda fuga maiores veritatis
            velit. Eveniet recusandae nulla nisi temporibus, consequuntur
            suscipit corrupti veniam tenetur aliquam doloribus obcaecati esse
            nam blanditiis dolorem sunt, eos sapiente alias illo architecto
            saepe ipsam!
          </p>

          <div class="d-flex align-items-center">
            <a
              href="#"
              class="me-2 text-decoration-none text-navbar"
              style="
                border: solid 1px #83b735;
                border-radius: 8px;
                padding: 8px 20px;
              "
              >Contact</a
            >
            <p class="me-2" style="margin: 0">Download</p>
            <a href="#"
              ><i class="bx bx-download text-navbar align-items-center"></i
            ></a>
          </div>

          <!-- Social Media -->
          <div class="social-media d-flex mt-4">
            <a
              href=""
              class="text-decoration-none home-social-media"
              style="margin-right: 15px"
              ><i class="bx bxl-linkedin"></i
            ></a>
            <a
              href=""
              class="text-decoration-none home-social-media"
              style="margin-right: 15px"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a
              href=""
              class="text-decoration-none home-social-media"
              style="margin-right: 15px"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a
              href=""
              class="text-decoration-none home-social-media"
              style="margin-right: 15px"
              ><i class="bx bxl-twitter"></i
            ></a>
          </div>
        </div>

        <!-- Home Right -->
        <div
          class="text-center home-right"
          style="
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0px 0px 5px rgb(172, 172, 172);
          "
        >
          <img
            src="public/images/profile.jpg"
            alt="profile image"
            style="width: 100%; border-radius: 10px 10px 0 0"
          />
          <h2 class="mt-4">Seeus</h2>
          <p class="mt-2">Fullstack Developer</p>
        </div>
      </div>
    </div>
    <!-- Home End -->

    <!-- Footer Start -->
    <footer class="copyright">
      <p>&#169; Seeus | All Right Reserved.</p>
    </footer>
    <!-- Footer End -->

    <!-- Script Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
