<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <!-- Link To Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- Link To CSS -->
    <link rel="stylesheet" href="CSS/login-register.css" />

    <!-- Box Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid ms-4 me-4">
        <a class="navbar-brand" href="#"
          ><i class="bx bxs-leaf" style="color: #83b735; font-size: 24px"></i
        ></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link text-navbar active"
                aria-current="page"
                href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-navbar" href="projects.html"
                >My Project</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-navbar" href="testimonials.html"
                >Testimonials</a
              >
            </li>
          </ul>
          <a
            href="contact.html"
            class="text-decoration-none text-white border border-white rounded p-2 contact-nav"
            >Contact Me</a
          >
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <div
      class="container-fluids d-flex align-items-center justify-content-center"
    >
      <!-- Form Register Start -->
      <div class="container-form">
        <h2 class="mb-4 text-center">Register</h2>

        <form style="width: 600px">
          <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" required />
            <div id="nameHelp" class="form-text">Your pretty name.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
    <!-- Form Register End -->

    <!-- Footer Start -->
    <footer class="copyright">
      <p>&#169; Seeus | All Right Reserved.</p>
    </footer>
    <!-- Footer End -->

    <!-- Script Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
