<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>

    <!-- Link To Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- Link To CSS -->
    <link rel="stylesheet" href="CSS/testimonials.css" />

    <!-- Box Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid ms-4 me-4">
        <a class="navbar-brand" href="#"
          ><i class="bx bxs-leaf" style="color: #83b735; font-size: 24px"></i
        ></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link text-navbar"
                aria-current="page"
                href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-navbar" href="projects.html"
                >My Project</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-navbar active" href="testimonials.html"
                >Testimonials</a
              >
            </li>
          </ul>
          <a
            href="contact.html"
            class="text-decoration-none text-white border border-white rounded p-2 contact-nav"
            >Contact Me</a
          >
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Testimonials Start -->
    <div class="container">
      <h2 class="text-center fw-bold" style="margin: 50px auto 30px">
        My <span style="color: #83b735">Testimonials</span>
      </h2>

      <p class="text-center" style="font-weight: 600">Rating By Star</p>

      <div class="star-group d-flex justify-content-center">
        <a href="">All</a>
        <a href="">1<i class="bx bxs-star"></i></a>
        <a href="">2<i class="bx bxs-star"></i></a>
        <a href="">3<i class="bx bxs-star"></i></a>
        <a href="">4<i class="bx bxs-star"></i></a>
        <a href="">5<i class="bx bxs-star"></i></a>
      </div>

      <div class="testimonial-group">
        <!-- Testimonials 1 -->
        <div class="list-testimonials" style="margin-top: 50px">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/post-1.jpg"
              class="card-img-top"
              alt="project-image"
              style="
                object-fit: cover;
                height: 190px;
                padding: 10px;
                border-radius: 15px 15px 0 0;
              "
            />
            <div class="card-body">
              <p class="card-text" style="text-align: justify; font-size: 12px">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <p style="margin: 0; text-align: end; font-weight: 500">Seeus</p>
            </div>
          </div>
        </div>
        <!-- Testimonials 2 -->
        <div class="list-testimonials" style="margin-top: 50px">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/post-5.jpg"
              class="card-img-top"
              alt="project-image"
              style="
                object-fit: cover;
                height: 190px;
                padding: 10px;
                border-radius: 15px 15px 0 0;
              "
            />
            <div class="card-body">
              <p class="card-text" style="text-align: justify; font-size: 12px">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <p style="margin: 0; text-align: end; font-weight: 500">Seeus</p>
            </div>
          </div>
        </div>
        <!-- Testimonials 3 -->
        <div class="list-testimonials" style="margin-top: 50px">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/post-4.jpg"
              class="card-img-top"
              alt="project-image"
              style="
                object-fit: cover;
                height: 190px;
                padding: 10px;
                border-radius: 15px 15px 0 0;
              "
            />
            <div class="card-body">
              <p class="card-text" style="text-align: justify; font-size: 12px">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <p style="margin: 0; text-align: end; font-weight: 500">Seeus</p>
            </div>
          </div>
        </div>

        <!-- Testimonials 4 -->
        <div class="list-testimonials" style="margin-top: 50px">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/post-2.jpg"
              class="card-img-top"
              alt="project-image"
              style="
                object-fit: cover;
                height: 190px;
                padding: 10px;
                border-radius: 15px 15px 0 0;
              "
            />
            <div class="card-body">
              <p class="card-text" style="text-align: justify; font-size: 12px">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <p style="margin: 0; text-align: end; font-weight: 500">Seeus</p>
            </div>
          </div>
        </div>

        <!-- Testimonials 5 -->
        <div class="list-testimonials" style="margin-top: 50px">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/profile.jpg"
              class="card-img-top"
              alt="project-image"
              style="
                object-fit: initial;
                object-position: center;
                height: 190px;
                padding: 10px;
                border-radius: 15px 15px 0 0;
              "
            />
            <div class="card-body">
              <p class="card-text" style="text-align: justify; font-size: 12px">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <p style="margin: 0; text-align: end; font-weight: 500">Seeus</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonials End -->

    <!-- Footer Start -->
    <footer class="copyright">
      <p>&#169; Seeus | All Right Reserved.</p>
    </footer>
    <!-- Footer End -->

    <!-- Script Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
